/* CALL TO ACTION  */

.call-to-action {
    .container {
        .call-to-action__titles {
            display: flex;
            justify-content: center;
            align-items: center;
            .cta__header {
                .cta__header--link {
                    .cta__header--link--img {
                        width: 120px;
                        background: none;
                        border: none;
                    }
                }
            }
        }

        .modal {
            .modal-dialog {
                .modal-content {
                    display: flex;
                    justify-content: center;
                    .modal-body {
                        display: flex;
                        justify-content: space-evenly;
                        .prefer__signin {
                            width: 40%;

                            .prefer__signin--title {
                                color: $NegroClaro;
                            }

                            .card__signin {
                                .card {
                                    color: $Blanco;
                                    padding: 20px;

                                    .prefer__signin--form {
                                        .card-footer {
                                            .call-to-action__con-forgot {
                                                text-align: center;
                                                a {
                                                    color: $Dor;
                                                    text-decoration: none;
                                                    &:hover {
                                                        transition: all .6s;
                                                        color: $Blanco;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .prefer__signup {
                            text-align: center;
                            .card__register {
                                .card__register--link {
                                    .card__register--img {
                                        width: 140px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
