{% extends 'base/index.html' %}
{% block ogdesc %}{{ pageogdesc }}{% endblock %}
{% block oguimg %}{{ pageogimg }}{% endblock %}
{% block ogurls %}{{ pageogurl }}{% endblock %}
{% block ogurlimg %}{{ pageogurlsec }}{% endblock %}

{% block mdescription %}{{ pagemetadesc }}{% endblock %}
{% block keywords %}{{ pagekeywords }}{% endblock %}
{% block title %}{{ pagemetatitle }}{% endblock %}
{% block content %}
{% load static %}

{% include 'partials/banner-index.html' %}

<div class="intro">
    <div class="container">
        {% for generic in generic %}
        {% if generic.genimg %}
        <img src="{{ generic.genimg.url }}" alt="{{ generic.gentitle }}" class="intro__img">
        {% else %}
        <img src="{% static 'img/default-c.jpg' %}" alt="" class="intro__img">
        {% endif %}
        <div class="intro__cont">
            <h1 class="intro__header">
                {{ pagetitle }}
            </h1>
            <p class="intro__content">{{ generic.gendesc | safe }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'partials/destacados.html' %}

{% endblock %}