.high {
    background: $Ng;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    color: $Yl;
    margin-bottom: 40px;

    .container {
        display: flex;
        justify-content: center;

        .producto {
            width: 30%;
            padding: 20px;
            margin: 20px;
            color: $Yl;

            .high__img {
                width: 90%;
            }

            .producto__footer {
                display: flex;
                justify-content: center;
                .button__product {
                    border-radius: 6px;
                    background: $Ng;
                    color: $Mor;
                    width: 40%;
                }
            }

            &:hover {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                transition: all .6s;
                color: $Mor;
                .button__product {
                    transition: all .6s;
                    background: $Yl;
                    color: $Ng;
                }
            }
        }
    }
}