{% load static %}
<div class="video-banner">
    {% if videourl %}
    <iframe src="https://www.youtube.com/embed/{{ videourl }}" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    {% else %}
    <div class="img__baner">
        {% if pagebanner %}
        <img src="{{ pagebanner.url }}" alt="{{ pagename }} Decortinas y Persianas" class="img__banner--img">
        {% endif %}
        {% if pagebannermov %}
        <img src="{{ pagebannermov.url }}" alt="{{ pagename }} Decortinas y Persianas" class="img__banner--imgmov">
        {% endif %}
    </div>
    {% endif %}
    <div class="banner-frase">
        <h2 class="banner-frase__h2">{{ pageslogan }}</h2>
    </div>
</div>