{% load static %}
<div class="high">
    <h3 class="high__title">
        <strong>Lencería destacada del mes</strong>
    </h3>
    <div class="container">
        {% for producto in destacados %}
        <a href="{% url 'product_detail' producturl=producto.producturl %}" class="producto">
            <h4 class="high__name">{{ producto.productname }}</h4>
            <img class="high__img" src="{{ producto.productimg.url }}" alt="{{ producto.productname }}">
            <p class="high__desc">{{ producto.productdescription | safe }}</p>
            <div class="producto__footer">
                <div class="button__product">Ver más</div>
            </div>
        </a>
        {% empty %}
        <p>No hay productos destacados disponibles.</p>
        {% endfor %}
    </div>
</div>