{% load thumbnail octavia_tags humanize %}
{% load static %}
<div id="products" class="products">
    <div class="filter" id="search">
        <div class="filter__container">
            <h1 class="filter__text">
                Octavia Lingerie Colombia
            </h1>
            <h2>Encuentra lencería erótica para todos los gustos</h2>
            <div class="filter__content">
                <select class="filter__dropdown" name="filter_product" id="id_filter_product" @change="onChangeCategory($event)">
                    <option class="filter__dropdown--item" value="0">Todos</option>
                    <option class="filter__dropdown--item" v-for="category in categories" :value="category.id">{{ category.nombre }}</option>
                </select>
                <div class="filter__search--icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 136 136" style="enable-background:new 0 0 136 136;" xml:space="preserve">
                        <!-- SVG Path here -->
                    </svg>
                    <input id="id_search_product" v-model="search_product" @keyup.enter="searchProduct()" class="filter__search--input" type="text">
                </div>
            </div>
        </div>
    </div>
    {% if productos_id %}
    <input type="hidden" :value="productos_id" ref="value_product">
    {% endif %}
    {% if logged_user %}
    <input type="hidden" value="0" ref="value_user">
    {% endif %}

    {% if marca_id %}
    <input type="hidden" :value="marca_id" ref="value_marca">
    {% endif %}
    <div v-if="productos.length > 0" class="products__container">
        <div class="scroll__animate" ref="ref_scroll_infinite">
            <div v-for="producto in productos" :key="producto.id" class="products__items animado" @click="handleItemClick(producto)" :data-url="url + producto.id" :data-category="producto.categoria_url" :data-name="producto.nombre" :data-id="producto.id" :data-precio="producto.costo">
                <img class="products__items--img" :src="url_img + producto.imagen" :alt="producto.nombre" :title="producto.nombre" height="400" width="264">

                <div class="products__info">
                    <p class="products__info--ref">{{ producto.codigo }}</p>
                    <a class="products__info--link" :href="url + producto.id" target="_blank">
                        <p class="products__info--title">{{ producto.nombre }}</p>
                    </a>
                    <!-- Use Vue.js computed properties for price -->
                    <p class="products__info--price">{{ producto.precioMostrar }}</p>
                    <p class="products__info--price" style="display: none" class_producto_costo_adicional>{{ producto.costo_adicional }} COP</p>
                    <p class="products__info--price" style="display: none" class_producto_costo_octavia>{{ producto.costo_octavia }} COP</p>
                    <div class="products__info--rating">
                        <div class="products__info--stars">
                            <svg v-for="estrellas in producto.calificacion_cantidad" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511 511" style="enable-background:new 0 0 511 136;" xml:space="preserve">
                                <path class="st0" d="M509.67,196.02c-3.35-10.35-12.52-17.7-23.38-18.67L338.8,163.95L280.48,27.44c-4.3-10-14.09-16.48-24.98-16.48
                                c-10.88,0-20.67,6.48-24.98,16.5l-58.32,136.48L24.69,177.34c-10.84,1-19.99,8.33-23.36,18.67c-3.36,10.35-0.26,21.7,7.94,28.85
                                l111.48,97.77L87.89,467.45c-2.41,10.65,1.73,21.65,10.56,28.04c4.75,3.43,10.3,5.18,15.91,5.18
                                c4.83,0,9.62-1.3,13.92-3.88l127.22-76.04l127.18,76.04c9.31,5.6,21.04,5.09,29.85-1.3c8.84-6.41,12.97-17.42,10.56-28.04
                                l-32.87-144.81l111.48-97.75C509.9,217.71,513.03,206.38,509.67,196.02z" />
                            </svg>
                        </div>
                    </div>
                    <a class="products__info--btn" href="#" data-toggle="modal" :data-target="'#exampleModal-' + producto.id">Añadir al carrito</a>

                    <!-- Modal -->
                    <div class="modal fade" :id="'exampleModal-' + producto.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <!-- Modal Content Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <transition name="fade">
        <div class="loading" ref="loading" style="display: none;">
            <span class="fa fa-spinner fa-spin"></span> Cargando
        </div>
    </transition>
</div>


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.13/dist/vue.global.prod.js"></script>
<script>
    const API_URL = 'https://www.octaviacolombia.com';
    const URL_BUCKET = 'https://octavia-col-bucket.s3.amazonaws.com/';

    const app = Vue.createApp({
        data() {
            return {
                productos: [],
                categories: [],
                url: `${API_URL}/productos/`,
                page: 0,
                url_service: `${API_URL}/lista_productos/?page=`,
                last_page: -1,
                url_img: URL_BUCKET,
                category_id: 0,
                search_product: "",
                validate_user: 0,
                loading: false
            };
        },
        computed: {
            hasProductos() {
                return this.productos.length > 0;
            }
        },
        methods: {
            calcularPrecio(producto) {
                if (producto.logged_user) {
                    producto.precioMostrar = `$ ${producto.costo_prefer} COP`;
                } else {
                    producto.precioMostrar = `$ ${producto.costo} COP`;
                }
            },
            async searchProduct() {
                this.page = 0;
                this.last_page = -1;
                this.productos = [];
                this.getProducts();
            },
            async onChangeCategory() {
                this.page = 0;
                this.last_page = -1;
                this.productos = [];
                this.getProducts();
            },
            async getCategory() {
                try {
                    const response = await fetch(`${API_URL}/lista_categorias/`);
                    if (response.status === 200) {
                        const data_response = await response.json();
                        if (data_response.data && data_response.data.length > 0) {
                            this.categories = data_response.data;
                        }
                    }
                } catch (error) {
                    console.error("Error en la solicitud HTTP:", error);
                }
            },
            async getProducts() {
                this.loading = true;
                try {
                    const producto_id = this.$refs.value_product ? this.$refs.value_product.value : 0;
                    const marca_id = this.$refs.value_marca ? this.$refs.value_marca.value : 0;

                    if (this.$refs.value_user) {
                        this.validate_user = 1;
                    }

                    const url_page = `${this.url_service}${this.page}&producto_id=${producto_id}&marca_id=${marca_id}&category_id=${this.category_id}&search_product=${this.search_product}&by_producto_prefer=${this.validate_user}`;
                    const response = await fetch(url_page);
                    if (response.status === 200) {
                        const data_response = await response.json();
                        this.last_page = this.page;
                        if (data_response.data && data_response.data.length > 0) {
                            this.productos.push(...data_response.data);

                            // Llama al método calcularPrecio para calcular el precio de los productos
                            this.productos.forEach((producto) => {
                                this.calcularPrecio(producto);
                            });

                            this.page += 1;
                        }
                    }
                } catch (error) {
                    console.error("Error en la solicitud HTTP:", error);
                } finally {
                    this.loading = false;
                }
            },
            scrollInfinite() {
                window.addEventListener('scroll', _.debounce(() => {
                    if (this.$refs.ref_scroll_infinite) {
                        const { offsetHeight } = this.$refs.ref_scroll_infinite;
                        const { scrollHeight, scrollTop, clientHeight } = document.documentElement;
                        if (scrollTop + clientHeight >= offsetHeight && this.page !== this.last_page) {
                            this.getProducts();
                            const price = localStorage.getItem('selected_price');
                            if (price) {
                                if (price === "1") {
                                    this.showCostoElements();
                                } else if (price === "2") {
                                    this.showCostoAdicionalElements();
                                } else if (price === "3") {
                                    this.showCostoOctaviaElements();
                                }
                            }
                        }
                    }
                }, 500));
            },
            showCostoElements() {
                document.querySelectorAll(".class_producto_costo").forEach(a => a.style.display = "block");
                document.querySelectorAll(".class_producto_costo_adicional").forEach(a => a.style.display = "none");
                document.querySelectorAll(".class_producto_costo_octavia").forEach(a => a.style.display = "none");
            },
            showCostoAdicionalElements() {
                document.querySelectorAll(".class_producto_costo").forEach(a => a.style.display = "none");
                document.querySelectorAll(".class_producto_costo_adicional").forEach(a => a.style.display = "block");
                document.querySelectorAll(".class_producto_costo_octavia").forEach(a => a.style.display = "none");
            },
            showCostoOctaviaElements() {
                document.querySelectorAll(".class_producto_costo").forEach(a => a.style.display = "none");
                document.querySelectorAll(".class_producto_costo_adicional").forEach(a => a.style.display = "none");
                document.querySelectorAll(".class_producto_costo_octavia").forEach(a => a.style.display = "block");
            }
        },
        mounted() {
            this.getProducts();
            this.getCategory();
            this.scrollInfinite();
        }
    });

    app.mount("#app");
</script>


{% endblock %}