{% block content %}
<div id="products" class="products">
    <div class="filter" id="search">
        <div class="filter__container">
            <h1 class="filter__text">
                Octavia Lingerie Colombia
            </h1>
            <h2>Encuentra lencería erótica para todos los gustos</h2>
            <div class="filter__content">
                <select class="filter__dropdown" name="filter_product" id="id_filter_product"
                    @change="onChangeCategory($event)">
                    <option class="filter__dropdown--item" value="0">Todos</option>
                    <option class="filter__dropdown--item" v-for="category in categories" :value="category.id">{{
                        category.nombre }}</option>
                </select>
                <div class="filter__search--icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 136 136"
                        style="enable-background:new 0 0 136 136;" xml:space="preserve">
                        <!-- SVG Path here -->
                    </svg>
                    <input id="id_search_product" v-model="search_product" @keyup.enter="searchProduct()"
                        class="filter__search--input" type="text">
                </div>
            </div>
        </div>
    </div>
    <div style="border: 2px solid red;" class="container">

        <div class="row">
            {% for producto in productos %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                        <p>Precio: ${{ producto.costo }}</p>
                        <p>Stock: {{ producto.cantidad }}</p>
                        <!-- Agrega más detalles del producto aquí -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}